<!DOCTYPE HTML>
<html lang="en">
<meta charset="UTF-8" />
<title>Vinergy - CLI Pastebin within VimEnergy</title>
<link rel='shortcut icon' href="/static/favicon.ico" type="image/x-icon" />
<link type="text/plain" rel="author" href="/static/humans.txt" />

{% if path != '/' %}
<link rel="stylesheet" href="/static/code.css" type="text/css" />
<!--[if IE]>
<script type="text/javascript">
if(confirm('你的浏览器不支持显示本页内容，点击“确定”去下载火狐，点击“取消”下载谷歌浏览器。'){
  window.location = 'http://www.mozilla.com/en-US/firefox/all.html';
}else{
  window.location = 'http://www.google.com/chrome';
}
</script>
<noscript><meta http-equiv="refresh" content="0; url=http://www.mozilla.com/en-US/firefox/all.html" /></noscript>
<![endif]-->
{% end %}

{% block page %}{% end %}

<!-- Start Google Analytics tracking code -->
<!-- End Google Analytics tracking code -->
</html>
{# vim:se syntax=html.tornadotmpl: #}
