{% extends 'base.html' %}
{% block page %}
<pre>
vinergy(1)                         VINERGY                           vinergy(1)

NAME
    Vinergy: CLI Pastebin within VimEnergy

SYNOPSIS
    &lt;command&gt; | curl -F 'vimcn=&lt;-' {{ url }}

DESCRIPTION
    add <a href='http://pygments.org/docs/lexers/'>?&lt;lang&gt;</a> or <a href='http://pygments.org/docs/lexers/'>/&lt;lang&gt;</a> to resulting url for line numbers and syntax
    highlighting

EXAMPLES
    <span style="color:#ffc000" >~</span> % curl -T bin/code.js {{ url }}
       {{ url }}cbc

    <span style="color:#ffc000" >~</span> % cat bin/code.js | curl -F 'vimcn=&lt;-' {{ url }}
       {{ url }}cbc

    <span style="color:#ffc000" >~</span> % curl {{ url }}cbc/js
    <span style="color:#ffc000" >~</span> % wget -qO- {{ url }}cbc?js
    <span style="color:#ffc000" >~</span> % firefox {{ url }}cbc/js

URLS
    <a href="https://img.vim-cn.com/">https://img.vim-cn.com/</a>
        A CLI image pastebin

VERSION
    0.10

SEE ALSO
    <a href="https://github.com/Vim-cn/vinergy">https://github.com/Vim-cn/vinergy</a>

POWERED BY
    <a href="http://www.tornadoweb.org/" target="_blank"><img src="/static/tornado.png" align="absmiddle" border="0"></a> &nbsp; <a href="https://www.postgresql.org/" target="_blank"><img src="/static/postgresql.png" align="absmiddle" border="0"></a> &nbsp; <a href="http://pygments.org" target="_blank"><img src="/static/pygments.png" align="absmiddle" border="0"></a>

                                 29 Jan 2019                         vinergy(1)
</pre>
{% end %}
{# vim:se ft=html syntax=html.tornadotmpl: #}
