$def with (url)

$var snippet:

<pre>
vinergy(1)                         VINERGY                           vinergy(1)

NAME
    Vinergy: CLI Pastebin within VimEnergy

SYNOPSIS
    &lt;command&gt; | curl -F 'vimcn=&lt;-' $url

DESCRIPTION
    add <a href='http://pygments.org/docs/lexers/'>?&lt;lang&gt;</a> to resulting url for line numbers and syntax highlighting

EXAMPLES
    <span style="color:#ffc000" >~</span> % cat bin/pyconsole.vim | curl -F 'vimcn=&lt;-' $url
       ${url}/cbc

    <span style="color:#ffc000" >~</span> % curl ${url}/cbc?js
    <span style="color:#ffc000" >~</span> % wget -qO- ${url}/cbc/js
    <span style="color:#ffc000" >~</span> % firefox ${url}/cbc?js

SEE ALSO
    http://github.com/vayn/vinergy

POWERED BY
    <a href="http://webpy.org" target="_blank"><img src="/static/webpy.png" align="absmiddle" border="0"></a> &nbsp; <a href="http://www.mongodb.org" target="_blank"><img src="/static/mongodb.png" align="absmiddle" border="0"></a> &nbsp; <a href="http://pygments.org" target="_blank"><img src="/static/pygments.png" align="absmiddle" border="0"></a>

                                11 June 2011                         vinergy(1)
</pre>
